# The add-on code in this repository is copied from
# <https://github.com/Calinou/godot-lod> regularly.
# Please open pull requests for the add-on code itself there, not in
# this demo repository.
/addons linguist-vendored
